
@font-face {
    font-family: craft;
    src: url(mine.otf) format("opentype");
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-5/oth445.cur), auto !important;} /* End https://www.cursors-4u.com */
                

body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);
    background-color: #080808;
    background-image:url(https://cdn.discordapp.com/attachments/1103802791606104186/1130066169693478943/ok.gif);
    /* background: #000000 url("https://cdn.discordapp.com/attachments/1103802791606104186/1130066169693478943/ok.gif") no-repeat center center fixed; 
    background-size: cover; */
    animation: shake 15s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }

    
}





::selection{
    background-color:#33323233
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.inside{
    font-size:24px;
    color:#ffffff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    cursor:pointer;
    transition: 1.2s ease-in;
    font-family:'craft';
    font-weight: bold;
}

.archive-box {
    margin: 0 auto;
    
}


    .archive-box .top-wrap {
        text-align: center;
        margin-bottom: 30;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .top-wrap img {
            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.50));
            height: 80px;
            width: 80px;
            border-radius: 25%;
            margin-top: 40;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .top-wrap h1 {
            margin: 0;
            font-family: "craft", sans-serif;
            margin-top: 10px;
            text-shadow: 0 0 0.40em #fff;
        }

            .top-wrap h1 {
                margin: 0;
                font-family: "craft", sans-serif;
                margin-top: 10px;
                text-shadow: 0 0 0.40em #fff


            
            

        }

        .waviy {
            position: relative;
            margin: 0;
                font-family: "craft", sans-serif;
                margin-top: 10px;
                text-shadow: 0 0 0.40em #fff
                
          }
          .waviy span {
            position: relative;
            display: inline-block;
            font-size: 30px;
            padding-left: 0px;
            padding-right: -40px;
            color: #fff;
            animation: flip 2s infinite;
            animation-delay: calc(.2s * var(--i))
          }
          @keyframes flip {
            0%,80% {
              transform: rotateY(360deg) 
            }
          }

        .top-wrap h1:hover {
            color: #6f00ff;
            
            
        }

        .top-wrap h2 {
            font-size: 16px;
            margin: 0;
            font-family: "Poppins", sans-serif;
            margin-top: .25em;
        }

    .archive-box .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:  auto;
        margin-bottom: 0em;
    }

        .archive-box .item {
            background-color: rgba(20, 20, 20, 0.59);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            flex: 0 14%;
            align-items: center;
            border-radius: 10px;
            margin: 0 1em;
            margin-bottom: 40px;
            padding-top: 20;
            height: 330px;
            width: 400px;
        }


            .archive-box .item > .content {                
                display: flex;
                flex-direction: column;
                padding: 1em;
                min-height: 175px;
                position: relative;
            }

                .archive-box .img-wrap {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    
                }

                    .archive-box a {
                        font-family:'craft';
                        text-shadow: 0 0 0.40em #ffffff;
                        text-decoration: none;
                        font-size: 24px;
                        margin-bottom: 8px;
                        font-weight: bold;
                        color: #fff;
                        transition: ease-in-out .2s;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }

                    .archive-box a:hover {
                        cursor: pointer;
                        color: #6f00ff;
                    }

                    .archive-box .img-wrap > img {
                        height: 125px;
                        width: 125px;
                        padding: .5em 1em 1em 1em;
                        border-radius: 50%;
                        border: 3px solid #7700ff;
                        padding: 0%;
                        margin: 5 auto;
                        margin-bottom: 20px;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                    }


                    .archive-box img:hover {
                    transform: scale(1.1); /*  scale for pfp  */
                    filter: drop-shadow(0px 0px 10px #2c2c2c);
                    }

                    .archive-box a#button {
                        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.50));
                        background-color: rgb(255, 255, 255);
                        color: #000;
                        border: none;
                        font-size: 15px;
                        width: 60px;
                        margin: 0 auto;
                        border-radius: 15px;
                        padding: 8px 10px;
                        font-family: "Poppins", sans-serif;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        transition: .2s ease-in-out;
                        line-height: 1;
                        font-weight: 600;
                    }

                    .socials {
                        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.50));
                        margin: 2em 0 1em 0;
                    }

                        .socials a {
                            width: 30px;
                            
                        }

                        .socials a:hover{
                            color: #6f00ff;
                        }

                        .socials a img {
                            height: 30px;
                            width: 30px;
                            transition: .2s ease-in-out;
                            margin: 0 .5em;
                        }

                        .socials a img:hover {
                            transform: scale(1.1);
                            filter: drop-shadow(0px 0px 10px #6f00ff);
                            
                        }

                        
/* Media queries */




    


@media (max-width: 1400px) {

    

    .archive-box .img-wrap {
        display: flex;
        flex-direction: column;
    }

        .archive-box .img-wrap img {
            margin: 0 auto;
        }

        .archive-box .img-wrap button {
            width: 100px;
            margin: 0 auto;
        }

    .archive-box .item > .content {
        flex-direction: column;
    }

        .archive-box .item p {
            padding-right: 0px!important;
        }
        

    

}


@media (max-width: 1000px) {

    

    .archive-box .row {
        flex-direction: column;
        margin-bottom: 0;
        width: 338px;
    }

    .archive-box .item {
        margin: 0;
        margin-bottom: 2em;
        align-self: baseline;
        width: 100%;
    }

        .archive-box p {
            height: auto;
            max-height: 125px;
        }

        .socials a img {
            height: 30px;
            width: 30px;
            transition: .2s ease-in-out;
            padding-inline: 3%;
        }

        .inside{
            font-size:24px;
            color:#ffffff;
            position:absolute;
            top:13%;
            left:50%;
            transform:translate(-50%,-50%);
            cursor:pointer;
            transition: 1.2s ease-in;
            font-family:'craft';
            font-weight: bold;
        }

        .archive-box a {
            font-family:'craft';
            text-shadow: 0 0 0.0em #ffffff;
            text-decoration: none;
            font-size: 24px;
            margin-bottom: 8px;
            font-weight: bold;
            color: #fff;
            transition: ease-in-out .2s;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

}






.archive-box .img-wrap > img {
    height: 125px;
    width: 125px;
    padding: .5em 1em 1em 1em;
    border-radius: 50%;
    border: 3px solid #7700ff;
    padding: 0%;
    margin: 5 auto;
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.blurpage{
    background:rgb(0 0 0/15%);
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(20px);
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition: 6.5s ease-in;
}

.blurpagerplc{background:0 0;backdrop-filter:none}
.blurpagerplc2{width:10%;height:10%;
    transition: 1.2s ease-in;}




.musicbtn:hover{
    opacity:1
}

.musicbtn{background:#000000}

audio{
    display:none
}
.replace{
    transform:translate(0,0);
    opacity:.2;
    top:0;
    left:0
}
.replace:hover{
    opacity: .5;
}

.badge{
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.50));
    cursor: pointer;
    padding: 0%;
    position: static;
    width: 20px;
    height: 20px;
}

.sparkle{
    background-image:url(../../../media.discordapp.net/attachments/987149728800198686/991834200309248070/sparkle.gif)
}

#enter {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 1.2s ease-in;
    font-size: 24px;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}
